@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body { /*全体*/
    text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-image: url('/../backG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.6);
	background-blend-mode: lighten;
}

h1{
	position: relative;
	margin-left: auto;
    margin-right: auto;

}

h1:first-letter {/*見出し*/
  font-size: 2em;
  color: #7172ac;
}

table { /*テーブル、リスト*/
	width: 50%;
	border-spacing: 100;
	margin: 50px 500px 50px 410px; /*余白、場所*/
	font-size: 25px;
}

table th { /*テーブルのチェックボックス*/
	border-bottom: solid 4px #333333; /*下線の色*/
	padding: 10px 0;
}

table td { /*内容、優先順位、削除*/
	border-bottom: solid 2px #494949; /*下線の色*/
	text-align: center;
	padding: 10px 0;
}

p { /*項目*/
	font-size: 20px;
	color: #333333; /*色*/
}

input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}
a {
	font-size:25px;
}
.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: 	#778899;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#778899;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.gg-check-o {/*完了*/
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
   margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 100px
}

.gg-check-o::after {/*完了*/
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 5px;
    width: 15px;
    height: 30px;
    border-color: currentColor;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}
