@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body { /*全体*/
    text-align:center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-image: url('/../backG.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.6);
	background-blend-mode: lighten;
}

h1 { /*見出し*/
	color: #333333; /*色*/
	margin: 0px 1000px 50px 200px; /*余白、場所*/
	font-size: 50px;
}

h1 { /*見出し*/
	position: relative;
	padding-left: 25px;
}
table { /*テーブル、リスト*/
	width: 50%;
	border-spacing: 100;
	margin: 50px 500px 50px 410px; /*余白、場所*/
	font-size: 25px;
}

table th { /*テーブルのチェックボックス*/
	border-bottom: solid 4px #333333; /*下線の色*/
	padding: 10px 0;
}

table td { /*内容、優先順位、削除*/
	border-bottom: solid 2px #494949; /*下線の色*/
	text-align: center;
	padding: 10px 0;
}

a:hover { /*メニューバー*/
	color: rgb(0, 0, 128); /*カーソルが当たると青くなる*/
}

p { /*項目*/
	font-size: 20px;
	color: #333333; /*色*/
}

button {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #333333;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
button:active {
  top: 4px;
  text-shadow: none;
}

input {
	position: relative;
	width:10%;
}
input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 30%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

div [type=checkbox] { /*チェックボックス*/
	width: 24px;
	height: 24px;
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

select { /*プルダウン*/
	width: 50px;
	height: 24px;
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.search-icon-alt {/*検索*/
  color: #000;
  position: absolute;
  display:inline;
  margin-top: -105px;
  margin-left: 300px;
  width: 55px;
  height: 55px;
  border: solid 1px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-icon-alt:before {/*検索*/
  content: '';
  position: absolute;
  top: 55px;
  left: 23px;
  height: 30px;
  width: 2px;
  background-color: currentColor;
}

.plus-icon-alt {/*登録*/
  color: #000;
  position: absolute;
   display:inline;
  margin-left: -100px;
  margin-top: -70px;
}

.plus-icon-alt:before {/*登録*/
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: currentColor;
}

.plus-icon-alt:after {/*登録*/
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.edit-icon-alt{/*更新*/
  color: #000;
  position: absolute;
   display:inline;
  margin-left: 100px;
  margin-top: -85px;
  width: 60px;
  height: 20px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.edit-icon-alt:before {/*更新*/
  content: '';
  position: absolute;
  left: -34px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid -10px transparent;
  border-right: solid 30px currentColor;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
}

 .gg-home-alt {/*トップ*/
 color: #000;
 box-sizing: border-box;
 position: absolute;
  display:inline;
 transform: scale(var(--ggs,1));
 width: 50px;
 height: 50px;
 border: 2px solid;
 border-top: 0;
 border-radius: 2px;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 margin-top:-80px;
 left: 500px;
}

.gg-home-alt::after,
.gg-home-alt::before {/*トップ*/
 content: "";
 box-sizing: border-box;
 position: absolute
}

.gg-home-alt::before {/*トップ*/
 border-top: 2px solid;
 border-left: 2px solid;
 border-top-left-radius: 40px;
 transform: rotate(45deg);
 top: -13px;
 border-radius: 3px;
 width: 50px;
 height: 50px;
 left: -1px;
}

.gg-home-alt::after {/*トップ*/
 width: 30px;
 height: 30px;
 background: currentColor;
 border-top-left-radius: 100px;
 border-top-right-radius: 100px;
 left: 10px;
 bottom: -1px
}
