@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body { /*全体*/
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-image: url('/../a.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.6);
	background-blend-mode: lighten;
}
.searchbutton{
	margin: 30px 30px 20px 0px;
	position: relative;
	top: 30px;
	right: -300px;
}
.todo{
	margin: 30px 30px 20px 0px;
	position: relative;
	top: 80px;
	right: 300px;
}
.date{
	margin: 30px 30px 20px 0px;
	position: relative;
	top: 160px;
	right: 300px;
}
.priority{
	display:inline;
	position: relative;
	top: -130px;
	left: 400px;
}
.prioritybox{
	display:inline;
	position: relative;
	top: 5px;
	left: 70px;
}
.color{
	display:inline;
	position: relative;
	top: -160px;
	left: 500px;
}
.colorbox{
	display:inline;
	position: relative;
	top: 0px;
	left: 90px;
}
.goal{
	display:inline;
	position: relative;
	top: -190px;
	left:650px;
}
.goalbox{
	display:inline;
	position: relative;
	top: -155px;
	left: 580px;
}
