@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {/*全体*/
	text-align: center; /*テキストを中央へ*/
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
header {
	background-attachment: fixed;
	background-image: url('/../R.jfif');
	 background-size: cover;
	 background-position: center center
}

h1 { /*見出し*/
	color:#333333;/*色*/
	margin: 0px 1000px 50px 200px;/*余白、場所*/
	font-size:50px;
}
h1 {/*見出し*/
  position: relative;
  padding-left: 25px;

}

h1:before {/*見出し*/
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(192, 192, 192);
}

h1:after {/*見出し*/
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(192, 192, 192);
}


table{/*テーブル、リスト*/
  width: 50%;
  border-spacing: 100;
  margin: 50px 500px 50px 410px;/*余白、場所*/
}

table th{/*テーブルnoチェックボックス*/
  border-bottom: solid 4px #DCDCDC;/*下線の色*/
  padding: 10px 0;
}

table td{/*内容、優先順位、削除*/
  border-bottom: solid 2px #494949;/*下線の色*/
  text-align: center;
  padding: 10px 0;
}

a {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px rgb(192, 192, 192);/*左線*/
  font-size:30px;
}

a:hover{ /*メニューバー*/
	color:rgb(0, 0, 128); /*カーソルが当たると青くなる*/
}
p {
	font-size:18px;
	color:#696969;/*色*/

}
.btn-text-3d {
  text-decoration: none;
  font-weight: bold;
  font-size: 37px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.btn-text-3d:active {
  top: 4px;
  text-shadow: none;
}
button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #CC9966;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

input {
	position: relative;
	width: 10%;
	margin: 10px 5%;
}
input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 30%;
	padding: 0.1em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
 input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
div [type=checkbox] {
	width:			24px;
	height:			24px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}

select {
	width:			50px;
	height:			24px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}
