<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link th:href="@{/login.css}" rel="stylesheet">
</head>
<body>
<h1>新規会員登録</h1>

<form action="/users/new" method="post">
		<table>
		<tr>
			<td>お名前</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td><input type="text" name="password"></td>
		</tr>
		</table>
	<button><a class="gg-check-o"><input type="hidden"></a></button>
	</form>
	<span th:text="${message}" style="color:red"></span>
	<br>
	<a href="/" class="btn-border-bottom">top</a>
</body>
</html>