<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link th:href="@{/login.css}" rel="stylesheet">
</head>
<body>

<img src="/../login.PNG" width="300px" height="300px">

<div>
	<i class="gg-user"></i>
<form action="/login" method="post">
	<input type="text" name="name" placeholder="name"><br><br>
	<input type="password" name="password" placeholder="password">


		<br><br>
	<button type="submit"><img src="/../loginB.PNG" width="150px" height="72px"></button>
	<br>
	<span th:text="${message}" style="color:red"></span>
</form>
<br>
<br>
<button><a href="/users/new">新規登録</a></button>
<button><a href="/users/edit">変更</a></button>
<button><a href="/users/delete">削除</a></button>
</div>
</body>
</html>