<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>名前確認</title>
<link th:href="@{/login.css}" rel="stylesheet">
</head>
<body>
<h1>名前確認</h1>

<form action="/users/edit/now">
		<table>
		<tr>
			<td>名前</td>
			<td><input type="text" name="name"></td>
		</tr>
		</table>
		<button><a class="gg-check-o"><input type="hidden"></a></button>

	</form>
	<span th:text="${message}" style="color:red"></span>
	<br>
	<a href="/" class="btn-border-bottom">top</a>
</body>
</html>