<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link th:href="@{/search.css}" rel="stylesheet">
</head>
<body>
<h1><img src="/../search.png" width="300px" height="300px"></h1>
<span th:replace="menu"></span><br><br>

<form action="/todo/search" method="post">
<p class="todo">
<img src="/../todo.PNG" width="100px" height="50px">
<input  type="text" name="contents">
</p>

<p class="date">
<img src="/../date.PNG" width="100px" height="50px">
<input  type="date" name="date">
</p>

<p class="priority">
優先順位<br>
<select class="prioritybox"  name="rank">
<option value="0">
<option value="1">!!!
<option value="2">!!
<option value="3">!
</select>
</p>

<p class="color">
<img src="/../colors.PNG" width="100px" height="50px">
<br>
<select class="colorbox" name="color">
<option value="0">
<option value="1">&#x1f7e5;
<option value="2">&#x1f7e6;
<option value="3">&#x1f7e8;
</select>
</p>

<p  class="goal">
<img src="/../addGaol(ENG).PNG" width="100px" height="50px">
</p>

<br>

<p><input class="checkbox" type="checkbox" name="goal" th:value="contents"></p>

<div><button type="submit"><img src="/../searchB.PNG" width="100px" height="50px"></button></div>

</form>

</body>
</html>