<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果画面</title>
<link th:href="@{/search.css}" rel="stylesheet">
</head>
<body>


		<h1><img src="/../searchResult.PNG" width="300px" height="300px"></h1>
		<span th:replace="menu"></span><br>

			<!-- ※ここを修正！！！ -->
<div class="sort">
<p class="task">タスク並べ替え</p><br>
<a class="up" href="/upsort">・期日が近い順</a><br>
<a class="down" href="/downsort">・期日が遠い順</a><br>
<a  class="rankup" href="/rankupsort">・優先度が高い順</a><br>
<a class="rankdown" href="/rankdownsort">・優先度が低い順</a></div>

		<table>
			<span th:each="ToDo:${todoList}">
				<tr>
					<th rowspan="2"><input type="checkbox" name="checkbox"
						value="check"></th>
					<td th:style="|color: ${ToDo.colorCode}|"th:text="${ToDo.contents}"></td>
					<th rowspan="2"><img th:src="@{'/images/' + ${ToDo.rankText}}" width="50px" height="50px"></th>
					<th rowspan="2">
						<form action="/delete" method="post">
							<input type="hidden" name="code" th:value="${ToDo.code}">

						<button type="submit">削除</button>

						</form>
					</th>
				</tr>

			<tr>
				<th th:text="${ToDo.date}"></th>
			</tr>
			</span>
		</table>

</body>
</html>