<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link th:href="@{/search.css}" rel="stylesheet">
</head>
<body>
<h1><img src="/../search.png" width="300px" height="300px"></h1>
<span th:replace="menu"></span><br><br>

<form action="/todo/search" method="post">
<p class="todo">
ToDo
<input  type="text" name="contents">
</p>

<p class="date">
期日
<input  type="date" name="date">
</p>

<p class="priority">
優先順位<br>
<select class="prioritybox"  name="rank">
<option value="0">
<option value="1">!!!
<option value="2">!!
<option value="3">!
</select>
</p>

<p class="color">
テキストの色<br>
<select class="colorbox" name="color">
<option value="0">
<option value="1">&#x1f7e5;
<option value="2">&#x1f7e6;
<option value="3">&#x1f7e8;
</select>
</p>

<p  class="goal">
目標に追加</p>
<br>
<input class="checkbox" type="checkbox" name="goal" th:value="contents">


<button type="submit"><img src="/../searchB.PNG" width="300px" height="300px"></button>

</form>

</body>
</html>