<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<link th:href="@{/top.css}" rel="stylesheet">
</head>
<body>
<header>
<h1>検索</h1>
<span th:replace="menu"></span><br><br>
</header>
<h2>
<form action="/todo/search" method="post">
<p>
ToDo
<input type="text" name="contents">
</p>

<!--<p>
種類
 <input type="text" name="type">
</p> -->

<p>
期日
<input type="text" name="date">
</p>

<p>
優先順位<br>
<select name="rank">
<option value="0">無
<option value="1">高
<option value="2">中
<option value="3">低
</select>
</p>

<p>
テキストの色<br>
<select name="color">
<option value="0">無
<option value="1">赤
<option value="2">青
<option value="3">黄
</select>
</p>

<p>
目標に追加
<div><input type="checkbox" name="goal" th:value="contents"></div></p>
<br>

<button type="submit">検索</button>
</form>
</h2>
</body>
</html>