<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果画面</title>
</head>
<body>
<h1>検索結果画面</h1>

<span th:replace="menu"></span>

<table border="1">

	<tr th:each="ToDo:${todoList}">
	    <td rowspan="2"><input type="checkbox" name="checkbox" value="check"></td>
		<td th:text="${ToDo.contents}"></td>
		<td rowspan="2" th:text="${ToDo.rank}"></td>
		<td rowspan="2">
		<form action="/delete" method="post">
        <input type="hidden" name="code" th:value="${code}">
        <input type="submit" value="削除"></form>
        </td>
	</tr>

	<tr th:each="ToDo:${todoList}">
	<td th:text="${ToDo.date}"></td>
	</tr>

	</table>

<form action="/allDelete" method="post">
<input type="hidden" name="code" th:value="${code}">
<input type="submit" value="全削除"></form>
</body>
</html>