<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録画面</title>
<link th:href="@{/top.css}" rel="stylesheet">
</head>
<body>
<header>
<h1>登録画面</h1>
<span th:replace="menu"></span><br><br>
</header>
<h3>
<form action="/todo/new" method="post">

<p>
ToDo
<input type="text" name="contents">
</p>

<!--<p>
種類
 <input type="text" name="type">
</p>
-->

<p>
期日
<input type="text" name="date">
</p>

<p>
優先順位
<select name="rank">
<option value="1">高
<option value="2">中
<option value="3">低
</select>
</p>

<p>
テキストの色
<select name="color">
<option value="1">赤
<option value="2">青
<option value="3">黄
</select>
</p>

目標に追加
<input type="checkbox" name="goal" th:value="contents">
<br><br><br>
<button type="submit">登録</button>
</form>
</h3>
</body>
</html>