<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>
<link th:href="@{/top.css}" rel="stylesheet">
</head>
<body>

<header>
	<h1>TOP</h1>
	<span th:replace="menu"></span><br>
</header>
	<h3>
	<i class="gg-user"></i>
		HELLO <span th:text="${session.name}"></span> さん<br><br>
	</h3>

	<h3>
		～目標～<br><span th:style="|color: ${colorCode}|"th:text="${session.setGoal}"></span><br>
	</h3>

	<table>
		<span th:each="ToDo:${todoList}">
		<tr>
			<th rowspan="2"><div><input class="check" type="checkbox" th:id="${ToDo.code}" name="checkbox" th:value="${ToDo.code}"></div></th>
			<td th:style="|color: ${ToDo.colorCode}|"th:text="${ToDo.contents}"></td>
			<th rowspan="2" th:text="${ToDo.rankText}"></th>
			<!-- <th rowspan="2">
				<div>
					<form action="/delete" method="get">
						<input type="hidden" name="code" th:value="${ToDo.code}">
						<button type="submit">削除</button>
					</form>
				</div> -->
			</th>
		</tr>

		<tr>
			<th th:text="${ToDo.date}"></th>
		</tr>
		</span>
	</table>

 <form action="/colorList">
	<table>
	<tr><th><span><font color="#990000">赤</font></span><div><input type="checkbox" name="colors" value=1></div></th>
	<th><span><font color="#003366">青</font></span><div><input type="checkbox" name="colors" value=2></div></th>
	<th><span><font color="#FFCC66">黄</font></span><div><input type="checkbox" name="colors" value=3></div></th>
	<th><button type="submit"><i class="gg-eye-alt"></i></button></th></tr>
	</table>
	</form>
	<br>
	所持ポイント<span class="point" th:text="${Point}"></span>P<br>

	<a  class="gg-check-o" href="javascript:deleteTask();"></a><br>
	<div><a href="/logout">ログアウト</a></div>

<script type="text/javascript">
function editTask() {
	var xxx = document.querySelectorAll(".check");
	for(var i =0; i < xxx.length; i++){

		if (xxx[i].checked == true) {
		var code = xxx[i].value;
		location.href = "/todo/edit?code=" + code;
		}
	}
}

function deleteTask() {
	var xxx = document.querySelectorAll(".check");
		for(var i =0; i < xxx.length; i++){

			if (xxx[i].checked == true) {
			var code = xxx[i].value;
			location.href = "/delete?code=" + code;
			}
		}
}
</script>
</body>
</html>