<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>
<link th:href="@{/top.css}" rel="stylesheet">
</head>
<body>
<header>
	<h1><img src="/../home.PNG" width="300px" height="300px"></h1>
	<span th:replace="menu"></span><br>
</header>
<span class="main">
	<h3>
	<i class="gg-user"></i>
		HELLO <span th:text="${session.name}"></span> さん<br><br>
	</h3>

	<h3>
		～目標～<br><span th:style="|color: ${colorCode}|"th:text="${session.setGoal}"></span><br>
	</h3>

	<table>
		<span th:each="ToDo:${todoList}">
		<tr>
			<th rowspan="2"><div><input class="check" type="checkbox" th:id="${ToDo.code}" name="checkbox" th:value="${ToDo.code}" title="変更or完了"></div></th>
			<td th:style="|color: ${ToDo.colorCode}|"th:text="${ToDo.contents}"></td>
			<th rowspan="2"><img th:src="@{'/images/' + ${ToDo.rankText}}" width="50px" height="50px"></th>
			<!-- <th rowspan="2">
				<div>
					<form action="/delete" method="get">
						<input type="hidden" name="code" th:value="${ToDo.code}">
						<button type="submit">削除</button>
					</form>
				</div> -->
			</th>
		</tr>

		<tr>
			<th th:text="${ToDo.date}"></th>
		</tr>
		</span>
	</table>
 <form action="/colorList">
	<table class="colorsTable">
	<tr><th><span><font color="#990000">赤</font></span><div><input type="checkbox" name="colors" value=1></div></th>
	<th><span><font color="#003366">青</font></span><div><input type="checkbox" name="colors" value=2></div></th>
	<th><span><font color="#006400">緑</font></span><div><input type="checkbox" name="colors" value=3></div></th>
	<th><button type="submit"><img src="/../display.png" width="80px" height="50px"></button></th></tr>
	</table>
	</form>
	<br>
	<a  class="gg-check-o" href="javascript:deleteTask();" title="✓いれて完了"></a>
	<br>
	所持ポイント<span class="point" th:text="${Point}"></span>P<br>
	<div><a href="/logout"><img src="/../logout.png" width="150px" height="150px"></a></div>
</span>
<script type="text/javascript">
function editTask() {
	var xxx = document.querySelectorAll(".check");
	for(var i =0; i < xxx.length; i++){

		if (xxx[i].checked == true) {
		var code = xxx[i].value;
		location.href = "/todo/edit?code=" + code;
		}
	}
}

function deleteTask() {
	var xxx = document.querySelectorAll(".check");
		for(var i =0; i < xxx.length; i++){

			if (xxx[i].checked == true) {
			var code = xxx[i].value;
			location.href = "/delete?code=" + code;
			}
		}
}

</script>
</body>
</html>